.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
.DS_Store
Thumbs.db

data/raw/*
data/interim/*
data/processed/*
data/external/*

!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep

models/*
!models/.gitkeep
